[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typeguard = "*"

[dev-packages]
black = "*"
pre-commit = "*"
reorder-python-imports = "*"
mypy = "*"
pytest = "*"
pytest-clarity = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-icdiff = "*"
pytest-xdist = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
